
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" routerLink='/'>KATYEV01</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
       <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink='/'>Home</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item" *ngIf="auth.loggedIn">
                <a class="nav-link" routerLink='/my-profile'>{{auth.userProfile?.name}}</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" *ngIf="!auth.loggedIn" (click)="auth.login()">Log in</a>
                <a class="nav-link" *ngIf="auth.loggedIn" (click)="auth.logout()">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
