  <ng-template [ngIf]="imageList">
    <!-- Image list retrieved but no RSVPs yet -->
    <p *ngIf="!imageList.length" class="lead">
      You have not oppinioned to any images yet. Check out the <a routerLink="/">homepage</a> to see a list of  images.
    </p>

    <ng-template [ngIf]="imageList.length">
    <p class="lead">You have <strong>commented</strong> for the following images:</p>

    <!-- Images listing -->
    <div class="card-columns">
        <div class="card" *ngFor="let image of fs.orderByDate(imageList, 'startDate')">
            <a
                [routerLink]="['/images', image._id]"
                [queryParams]="{tab: 'comment'}"
                class=""><cl-image
                public-id={{image.link}}
                class="card-img-top"
                title="{{ image.title }}"
                (mouseenter)="image.isMouseOver = false"
                (mouseleave)="image.isMouseOver = true"
                [attr.opacity]="image.isMouseOver ? '60' : null">
                    <cl-transformation gravity="face" width="300" height="300" crop="thumb">
                    </cl-transformation>
                </cl-image></a>
           <div class="card-body">
                <h5 class="card-title" [innerHTML]="image.title"></h5>
<!--                <divclass="card-footer">{{utils.imageDates(image.startDate, image.stopDate)}}</small>-->
                <a
                [routerLink]="['/images', image._id]"
                [queryParams]="{tab: 'comment'}"
                class="card-link link-dark">Click to view or update this oppinion
                </a>
            </div>
        </div>
    </div>
    </ng-template>

  </ng-template>
