<!-- src/app/pages/image/comment/comment.component.html -->
<div class="card-block">
  <h2 class="card-title text-center">Opinions</h2>
  <app-loading *ngIf="loading"></app-loading>
</div>

<ng-template [ngIf]="utils.isLoaded(loading)">
  <!-- image is over -->
  <p *ngIf="imagePast" class="card-block lead">
    You cannot leave an opinion to an image that has already ended.
  </p>

  <ng-template [ngIf]="!imagePast && comments">
    <!-- User has Commented -->
    <ng-template [ngIf]="userComment">
      <p class="card-block lead">You responded to this image with the following information:</p>

      <ul *ngIf="!showEditForm" class="list-group list-group-flush">
<!--
        <li class="list-group-item">
          <strong>Name:</strong>{{userComment.userId}}
        </li>
-->
<!--
        <li class="list-group-item">
          <strong>Attending:</strong>{{utils.booleanToText(userComment.attending)}}
        </li>
-->
<!--
        <li *ngIf="userComment.attending && userComment.likes" class="list-group-item">
          <strong>Additional Likes:</strong>{{userComment.likes}}
        </li>
-->
        <li *ngIf="userComment.comment" class="list-group-item">
          <span [innerHTML]="userComment.comment"></span>
        </li>
      </ul>
      <div class="card-block">
        <button
          class="btn btn-info"
          [ngClass]="{'btn-info': !showEditForm, 'btn-warning': showEditForm}"
          (click)="toggleEditForm()">{{editBtnText}}</button>

        <app-comment-form
          *ngIf="showEditForm"
          [imageId]="imageId"
          [comment]="userComment"
          (submitComment)="onSubmitComment($event)"></app-comment-form>
      </div>
    </ng-template>

    <!-- No RSVP yet -->
    <div *ngIf="!userComment" class="card-block">
      <p class="lead">Fill out the form below to leave your opinion:</p>
      <app-comment-form
        [imageId]="imageId"
        (submitComment)="onSubmitComment($event)"></app-comment-form>
    </div>
  </ng-template>

  <!-- All Comments -->
  <div class="card-block text-right">
    <button (click)="toggleShowComments()" class="btn btn-link btn-sm">{{showCommentsText}}</button>
  </div>

  <!-- <section class="allComments" *ngIf="showAllComments" [@expandCollapse]> -->
  <section class="allComments" *ngIf="showAllComments">
    <div class="card-block">
      <h3 class="card-title text-center">All Opinions</h3>
      <p *ngIf="!comments.length" class="lead">There are currently no opinions for this image.</p>
    </div>

    <ul *ngIf="comments.length" class="list-group list-group-flush">
<!--
      <li class="list-group-item list-group-item-success justify-content-between">
        <strong>Attending</strong>
        <span class="badge badge-success badge-pill">{{totalAttending}}</span>
      </li>
-->
      <li
        *ngFor="let comment of comments"
        class="list-group-item small">
<!--        {{comment.name}} {{utils.showPlusOnes(comment.likes)}}-->
<!--        <p *ngIf="auth.isAdmin && comment.comment" class="d-flex w-100">-->
        <p>
          <em [innerHTML]="comment.comment"></em>
        </p>
      </li>
<!--
      <li class="list-group-item list-group-item-danger justify-content-between">
        <strong>Not Attending</strong>
        <span class="badge badge-danger badge-pill">{{fs.filter(comments, 'attending', false).length}}</span>
      </li>
-->
<!--
      <li
        *ngFor="let comment of fs.filter(comments, 'attending', false)"
        class="list-group-item small">
        {{comment.name}}
        <p *ngIf="auth.isAdmin && comment.comments" class="d-flex w-100">
          <em [innerHTML]="comment.comments"></em>
        </p>
      </li>
-->
    </ul>
  </section>

  <!-- Error loading Comments -->
  <div *ngIf="error" class="card-block">
    <p class="alert alert-danger">
      <strong>Oops!</strong> There was an error retrieving opinions for this image.
    </p>
  </div>
</ng-template>

<!--
 Footer showing # of total attending likes
<div class="card-footer text-right">
  <small *ngIf="totalAttending >= 0" class="text-muted">{{utils.displayCount(totalAttending)}} {{footerTense}}</small>
</div>
-->
