
     <p>
    <a
      class="btn btn-success btn-block"
      routerLink="/admin/image/new">Upload new images</a>
      </p>

   <!-- Images -->
  <ng-template [ngIf]="imageList">
    <ng-template [ngIf]="imageList.length">
      <!-- Search images -->
      <section class="search input-group mb-3">
        <label class="input-group-addon" for="search">Search</label>
        <input
          id="search"
          type="text"
          class="form-control"
          [(ngModel)]="query"
          (keyup)="searchImages()" />
        <span class="input-group-btn">
          <button
            class="btn btn-danger"
            (click)="resetQuery()"
            [disabled]="!query">&times;</button>
        </span>
      </section>

      <!-- No search results -->
      <p *ngIf="fs.noSearchResults(filteredImages, query)" class="alert alert-warning">
        No images found for <em class="text-danger">{{query}}</em>, sorry!
      </p>

      <!-- Images listing -->
      <div class="d-flex flex-wrap container-fluid">
        <div
          *ngFor="let image of fs.orderByDate(filteredImages, 'startDate')"
          class="col-lg-2 col-sm-6 col-md-3">

            <a [routerLink]="['/images', image._id]">
                <cl-image
                    public-id={{image.link}}
                    class="img-thumbnail"
                    title="{{image.title}}"
                    (mouseenter)="image.isMouseOver = false"
                    (mouseleave)="image.isMouseOver = true"
                    [attr.opacity]="image.isMouseOver ? '60' : null">
                  <cl-transformation gravity="face" width="300" height="300" crop="thumb">
                  </cl-transformation></cl-image>
            </a>
            <div>
                <p class="mb-1">
                    <a *ngIf="image.nsfw"
                      class="btn btn-warning btn-sm"
                      [routerLink]="['/admin/image/update', image._id]">NSFW</a>
                    <a *ngIf="utils.imagePast(image.stopDate)"
                      class="btn btn-danger btn-sm"
                      [routerLink]="['/admin/image/update', image._id]">Offline</a>
                    <a
                      class="btn btn-success btn-sm"
                      [routerLink]="['/admin/image/update', image._id]">Edit</a>
                    <a
                      class="btn btn-danger btn-sm"
                      [routerLink]="['/admin/image/update', image._id]"
                      [queryParams]="{tab: 'delete'}">Delete</a>
                </p>
            </div>
        </div>
    </div>
    </ng-template>
</ng-template>


