<!-- src/app/pages/admin/admin.component.html -->
<h1 class="text-center">{{pageTitle}}</h1>
<app-loading *ngIf="loading"></app-loading>

<ng-template [ngIf]="utils.isLoaded(loading)">
  <p class="lead">Welcome, {{auth.userProfile?.name}}! You can create and administer images below.</p>
    <p>
    <a
      class="btn btn-success btn-block"
      routerLink="/admin/image/new">+ Create New Image</a>
      </p>
  <!-- Images -->
  <ng-template [ngIf]="imageList">
    <ng-template [ngIf]="imageList.length">
      <!-- Search images -->
      <section class="search input-group mb-3">
        <label class="input-group-addon" for="search">Search</label>
        <input
          id="search"
          type="text"
          class="form-control"
          [(ngModel)]="query"
          (keyup)="searchImages()" />
        <span class="input-group-btn">
          <button
            class="btn btn-danger"
            (click)="resetQuery()"
            [disabled]="!query">&times;</button>
        </span>
      </section>

      <!-- No search results -->
      <p *ngIf="fs.noSearchResults(filteredImages, query)" class="alert alert-warning">
        No images found for <em class="text-danger">{{query}}</em>, sorry!
      </p>

      <!-- Images listing -->
      <section class="list-group">
        <div
          *ngFor="let image of fs.orderByDate(filteredImages, 'startDate')"
          class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <a [routerLink]="['/images', image._id]">
              <h5 class="mb-1" [innerHTML]="image.title"></h5>
            </a>
            <div class="image-icons">
              <span *ngIf="image.nsfw" class="glyphicon glyphicon-user"></span>
              <span *ngIf="utils.imagePast(image.stopDate)" class="glyphicon glyphicon-calendar"></span>
            </div>
            </div>
          <p class="mb-1">
            <strong>Date:</strong> {{utils.imageDates(image.startDate, image.stopDate)}}
          </p>
          <p class="mb-1">
            <a
              class="btn btn-info btn-sm"
              [routerLink]="['/admin/image/update', image._id]">Edit</a>
            <a
              class="btn btn-danger btn-sm"
              [routerLink]="['/admin/image/update', image._id]"
              [queryParams]="{tab: 'delete'}">Delete</a>
          </p>
        </div>
      </section>
    </ng-template>

    <!-- No images available -->
    <p *ngIf="!imageList.length" class="alert alert-info">
      No images have been created yet.
    </p>
  </ng-template>

  <!-- Error loading images -->
  <p *ngIf="error" class="alert alert-danger">
    <strong>Oops!</strong> There was an error retrieving image data.
  </p>

</ng-template>
