<!-- src/app/pages/image/comment/comment-form/comment-form.component.html -->
<form (ngSubmit)="onSubmit()" #commentForm="ngForm">

  <!-- Comments -->
  <div class="form-group">
    <label for="comments">Your opinion:</label>
    <textarea
      id="comment"
      name="comment"
      class="form-control"
      rows="2"
      maxlength="300"
      [(ngModel)]="formComment.comment"></textarea>
  </div>

  <!-- Submit -->
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!commentForm.form.valid || submitting">Submit opinion</button>
    <app-submitting *ngIf="submitting"></app-submitting>

    <!-- API submission error -->
    <p *ngIf="error" class="mt-3 alert alert-danger">
      <strong>Error:</strong> There was a problem submitting your response. Please try again.
    </p>
  </div>
</form>
