<app-loading *ngIf="loading"></app-loading>
<ng-template [ngIf]="utils.isLoaded(loading)">
   <div class="media">
    <a [routerLink]="['/images', imageId]">
        <cl-image *ngIf="imageLink" public-id={{imageLink}} class="mr-3">
            <cl-transformation gravity="face" height="100" quality="auto:best" width="200" crop="fill">
            </cl-transformation>
        </cl-image>
    </a>
        <div class="media-body font-weight-light mt-0" *ngIf="verb=='like'">{{userName}} liked this image.</div>
        <div class="media-body font-weight-light mt-0" *ngIf="verb=='add'">{{userName}} add this image.</div>
        <div class="media-body font-weight-light mt-0" *ngIf="verb=='comment'">{{userName}} commented on this image.</div>
   </div>
</ng-template>

