<ng-template [ngIf]="utils.isLoaded(loading)">
   <a [routerLink]="['/images', image._id]" (click)="accessImage()">
    <cl-image *ngIf="image.link"
        public-id={{image.link}}
        class="card-img-top img-fluid"
        title="{{ image.title }}"
        (mouseenter)="image.isMouseOver = false"
        (mouseleave)="image.isMouseOver = true"
        [attr.opacity]="image.isMouseOver ? '60' : null">
            <cl-transformation width="800" crop="scale"></cl-transformation>
    </cl-image>
</a>
<div class="card-body bg-light row" >
    <div class="text-left col">by {{user.screenName}}</div>
    <div class="text-right col" *ngIf="liked">Unlike</div>
    <div class="text-right col" *ngIf="!liked">Like</div>
</div>
</ng-template>
