<!-- src/app/pages/admin/update-image/update-image.component.html -->
<h1 class="text-center">{{pageTitle}}</h1>

<app-loading *ngIf="loading"></app-loading>

<ng-template [ngIf]="utils.isLoaded(loading)">
  <div *ngIf="image" class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="[]"
            [queryParams]="{tab: 'edit'}"
            [ngClass]="{'active': utils.tabIs(tab, 'edit')}">Edit</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="[]"
            [queryParams]="{tab: 'delete'}"
            [ngClass]="{'active': utils.tabIs(tab, 'delete')}">Delete</a>
        </li>
      </ul>
    </div>

    <div class="card-block">
      <!-- Edit image form -->
      <app-image-form
        *ngIf="utils.tabIs(tab, 'edit')"
        [image]="image"></app-image-form>

      <!-- Delete image -->
      <app-delete-image
        *ngIf="utils.tabIs(tab, 'delete')"
        [image]="image"></app-delete-image>
    </div>

  </div>
  <!-- Error loading image -->
  <p *ngIf="error" class="alert alert-danger">
    <strong>Error:</strong> Image data could not be retrieved. View <a routerLink="/admin" class="alert-link">Admin Events</a>.
  </p>
</ng-template>
