<!-- src/app/pages/home/home.component.html -->
<h1 class="text-center">{{pageTitle}}</h1>
<app-loading *ngIf="loading"></app-loading>

<ng-template [ngIf]="utils.isLoaded(loading)">
    <ng-template [ngIf]="imageList">
        <ng-template [ngIf]="imageList.length">

            <!-- Search images -->
            <section class="search input-group md-8 sm-8 lg=8">

                <input id="search" type="text" class="form-control" [(ngModel)]="query" (keyup)="searchImages()" />
        <span class="input-group-btn">
          <button
            class="btn btn-danger"
            (click)="resetQuery()"
            [disabled]="!query">&times;</button>
        </span>
            </section>

            <!-- No search results -->
            <p *ngIf="fs.noSearchResults(filteredImages, query)" class="alert alert-warning">
                No images found for <em class="text-danger">{{query}}</em>, sorry!
            </p>

            <!-- Images listing -->
            <div class="card-columns">
                <div class="card" *ngFor="let image of fs.orderByDate(filteredImages, 'createDate',true)">
                    <a [routerLink]="['/images', image._id]">
                        <cl-image
                            public-id={{image.link}}
                            class="card-img-top img-fluid"
                            title="{{ image.title }}"
                            (mouseenter)="image.isMouseOver = false"
                            (mouseleave)="image.isMouseOver = true"
                            [attr.opacity]="image.isMouseOver ? '60' : null">
                                <cl-transformation width="800" crop="scale"></cl-transformation>
                        </cl-image>
                    </a>
                </div>
            </div>



        </ng-template>

        <!-- No upcoming public images available -->
        <p *ngIf="!imageList.length" class="alert alert-info">
            No upcoming public images available.
        </p>
    </ng-template>

    <!-- Error loading images -->
    <p *ngIf="error" class="alert alert-danger">
        <strong>Oops!</strong> There was an error retrieving image data.
    </p>

</ng-template>
