<!-- src/app/pages/home/home.component.html -->
<h1 class="text-center">{{pageTitle}}</h1>
<div *ngIf="auth.loggedIn">
<app-loading *ngIf="loading"></app-loading>
<ng-template [ngIf]="utils.isLoaded(loading)">
    <ng-template [ngIf]="images">
        <div
            infiniteScroll
            [infiniteScrollDistance]="scrollDistance"
            [infiniteScrollThrottle]="throttle"
            (scrolled)="addImages()"
        >
            <div class="card border-light" *ngFor="let image of images" >
                <app-home-image [image]="image" [viewer]="user"></app-home-image>
            </div>
        </div>
    </ng-template>
    <!-- Error loading images -->
    <p *ngIf="error" class="alert alert-danger">
        <strong>Oops!</strong> There was an error retrieving image data.
    </p>
</ng-template>
</div>
<p *ngIf="!auth.loggedIn" class="alert alert-info">
    Please create acount or log in.
</p>
