<!-- src/app/pages/my-rsvps/my-rsvps.component.html -->
<h1 class="text-center">{{pageTitle}}</h1>
<p class="lead" *ngIf="auth.loggedIn">
  Hello, <strong [innerHTML]="auth.userProfile.name"></strong>! You logged in with {{userIdp}}.
  <ng-template [ngIf]="auth.isAdmin">
    You may <a routerLink="/admin">create and administer images</a>.
  </ng-template>
</p>

<app-loading *ngIf="loading"></app-loading>

<ng-template [ngIf]="utils.isLoaded(loading)">
  <ng-template [ngIf]="imageList">
    <!-- Image list retrieved but no RSVPs yet -->
    <p *ngIf="!imageList.length" class="lead">
      You have not oppinioned to any images yet. Check out the <a routerLink="/">homepage</a> to see a list of  images.
    </p>

    <ng-template [ngIf]="imageList.length">
      <p class="lead">You have <strong>commented</strong> for the following images:</p>

      <!-- Images listing -->
      <div class="list-group">
        <a
          *ngFor="let image of fs.orderByDate(imageList, 'startDate')"
          [routerLink]="['/images', image._id]"
          [queryParams]="{tab: 'comment'}"
          class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1" [innerHTML]="image.title"></h5>
            <small>{{utils.imageDates(image.startDate, image.stopDate)}}</small>
          </div>
          <small class="mb-1">Click to view or update this oppinion</small>
        </a>
      </div>
    </ng-template>
  </ng-template>

  <!-- Error loading images -->
  <p *ngIf="error" class="alert alert-danger">
    <strong>Oops!</strong> There was an error getting your oppinions data.
  </p>
</ng-template>
