<!-- src/app/pages/my-rsvps/my-rsvps.component.html -->
<h1 class="text-center">{{pageTitle}}</h1>
<p class="lead" *ngIf="auth.loggedIn">
  Hello, <strong [innerHTML]="auth.userProfile.name"></strong>! You logged in with {{userIdp}}.
  <ng-template [ngIf]="auth.isAdmin">
    You may <a routerLink="/admin">administrate</a>.
  </ng-template>
</p>

<app-loading *ngIf="loading"></app-loading>
<ng-template [ngIf]="utils.isLoaded(loading)">
  <div class="card">
      <!-- Image tab navigation -->
      <div class="card-header">
        <div class="nav nav-tabs card-header-tabs">
          <div class="nav-item">
            <a
              class="nav-link text-dark"
              [routerLink]="[]"
              [queryParams]="{tab: 'my-network'}"
              [ngClass]="{'active': utils.tabIs(tab, 'my-network')}">Network</a>
          </div>
          <div class="nav-item">
            <a
              class="nav-link text-dark"
              [routerLink]="[]"
              [queryParams]="{tab: 'my-images'}"
              [ngClass]="{'active': utils.tabIs(tab, 'my-images')}">Images</a>
          </div>
          <div class="nav-item">
            <a
              class="nav-link text-dark"
              [routerLink]="[]"
              [queryParams]="{tab: 'my-comments'}"
              [ngClass]="{'active': utils.tabIs(tab, 'my-comments')}">Opinions</a>
          </div>
            <div class="nav-item">
            <a
              class="nav-link text-dark"
              [routerLink]="[]"
              [queryParams]="{tab: 'my-user'}"
              [ngClass]="{'active': utils.tabIs(tab, 'my-user')}">Userdata</a>
            </div>
        </div>
      </div>

      <!-- show my imagestab -->
      <app-my-network
        *ngIf="utils.tabIs(tab, 'my-network')"
        [userId]="userId"></app-my-network>
      <!-- show my imagestab -->
      <app-my-images
        *ngIf="utils.tabIs(tab, 'my-images')"
        [userId]="userId"></app-my-images>
      <!-- Show my opinions -->
      <app-my-comments
        *ngIf="utils.tabIs(tab, 'my-comments')"
        [userId]="userId"></app-my-comments>
    <!-- Show my opinions -->
      <app-my-user
        *ngIf="utils.tabIs(tab, 'my-user')"
        ></app-my-user>
    </div>


  <!-- Error loading images -->
  <p *ngIf="error" class="alert alert-danger">
    <strong>Oops!</strong> There was an error getting your oppinions data.
  </p>
</ng-template>
