<!-- src/app/pages/image/image-detail/image-detail.component.html -->
<div *ngIf="image.description"
    class="card-block lead list-group-item"
    [innerHTML]="image.description">
</div>
<div *ngIf="image.location" class="card-block lead list-group-item">
    Location: {{image.location}} (<a href="https://www.google.com/maps/dir//{{image.location}}" target="_blank">Get directions</a>)
</div>
<div *ngIf="userName"
    class="card-block lead list-group-item"
    [innerHTML]="userName">
</div>
<div *ngIf="auth.isAdmin"
    class="list-group-item alert alert-warning">
    <strong>Publishperiod:</strong> {{utils.imageDatesTimes(image.startDate, image.stopDate)}}
</div>
<div *ngIf="auth.isAdmin"
    class="card-footer text-right small">
    <a [routerLink]="['/admin/image/update', image._id]">Edit</a>
</div>
