<!-- src/app/pages/image/image-detail/image-detail.component.html -->
<div *ngIf="image.description"
    class="card-header lead"
    [innerHTML]="image.description">
</div>
<div *ngIf="image.location" class="card-block">
    Location: {{image.location}} (<a href="https://www.google.com/maps/dir//{{image.location}}" target="_blank">See on map</a>)
</div>
<div *ngIf="user.screenName"
    class="card-block bg-light">
    Published by
    <span *ngIf="user.screenName=='Someone'">{{user.auth0Name}}</span>
    <span *ngIf="user.screenName!='Someone'">{{user.screenName}}</span>
</div>
<div *ngIf="auth.isAdmin"
    class="card-block ">
    <strong>Admin Details:</strong> Created:{{utils.imageDatesTimes(image.createDate, image.editDate)}}
</div>
<div *ngIf="this.auth.userProfile.sub==userId"
    class="card-footer text-right small">
    <a
    class="btn btn-success btn-sm"
    [routerLink]="['/admin/image/update', image._id]">Edit</a>
    <a
    class="btn btn-danger btn-sm"
    [routerLink]="['/admin/image/update', image._id]"
    [queryParams]="{tab: 'delete'}">Delete</a>
</div><div *ngIf="auth.isAdmin"
    class="card-footer text-right small">
    <a [routerLink]="['/admin/image/update', image._id]">Edit as admin</a>
</div>
